html, body {
  height: 100%;
}
.hero{
  background-image: url(../img/cover.jpg);
  background-size: cover;
  height: 500px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
.camp-name {
  height: 60px;
}
#map {
  height: 300px;
  margin: 0 auto;
  width: 100%;
}
