html, body {
  height: 100%;
}
h2 {
  border-bottom: solid 3px #252323;
  border-top: solid 3px #252323;
  font-family: 'Coming Soon', cursive;
  padding: 7px 0;
  font-weight: bold;
}
.hero{
  background-image: url(../img/cover.jpg);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}
.hero h1 {
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  font-size: 50px;
  display: none;
}
.hero h1:last-of-type {
  margin-top: 10px;
}
.camp-name {
  height: 63.5px;
  padding: 20px 5px;
  background-color: #252323;
  color: #F5F1ED;
  font-weight: bold;
}
.camp-name:hover {
  cursor: pointer;
}
#map {
  height: 300px;
  margin: 0 auto;
  width: 100%;
  border: 5px solid #252323;
}
.facts, .testimonials, .satellite-photo {
  display: none;
  height: 540px;
  padding: 5px 15px;
  margin-bottom: 20px;
}
.satellite {
  width: 90%;
  margin-left: 15px;
}
.active-button {
  background-color: #F5F1ED !important;
  color: #252323;
}

.ebony-clay {
  background-color: #252323 !important;
}
.ebony-clay-text {
  color: #252323;
}
.mulled-wine {
  background-color: #A99985;
}
.mulled-wine-text {
  color: #A99985;
}
.venus {
  background-color: #737373;
}
.venus-text {
  color: #737373;
}
.clam-shell {
  background-color: #DAD2BC;
}
.clam-shell-text {
  color: #DAD2BC;
}
.dawn-pink {
  background-color: #F5F1ED;
}
.dawn-pink-text {
  color: #F5F1ED;
}

.modal {
  width: 82% !important;
  max-height: 80% !important;
}

.map-container {
  padding: 0 !important;
}

.facts ul li, .report ul li {
  list-style: disc;
  margin-left: 25px;
  margin-bottom: 5px;
}

.facts h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
h4 {
  border-bottom: 1px solid #252323;
  font-size: 2.2rem;
}

.waves-effect {
  display: block !important;
}

.facts p, .facts ul {
  margin-top: 5px;
}

.brand-logo {
  margin-left: 10px;
}
nav ul a {
  font-size: 1.1rem;
}

.satellite-photo p {
  margin-bottom: 5px;
}
.issue, .report, .additional-info {
  padding-left: 20px;
  padding-right: 20px;
}
.map-dialog {
  position: absolute;
  background-color: #F5F1ED;
  width: 75%;
  height: 70%;
  left: 0;
  right: 0;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 1px solid #252323;
  font-size: 22px;
  text-align: center;
}
.report img {
  width: 320px;
}
figure {
  float: right;
  font-size: 16px;
  margin: 10px;
}

.page-footer li {
  margin-bottom: 5px;
}
