/*
  ========================================
  Navigation styles
  ========================================
*/

.brand-logo {
  margin-left: 10px;
}
nav ul a {
  font-size: 1.1rem;
}

/*
  ========================================
  Hero styles
  ========================================
*/

.hero{
  align-content: flex-start;
  align-items: flex-end;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 500px;
  justify-content: flex-start;
}
.hero h1 {
  display: none;
  font-family: 'Play', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin: 60px 20px 10px 0;
}
.hero h1:last-of-type {
  margin-top: 10px;
}

/*
  ========================================
  Header styles
  ========================================
*/

h2 {
  border-bottom: solid 3px #252323;
  border-top: solid 3px #252323;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  padding: 7px 0;
}
h4 {
  border-bottom: 1px solid #252323;
  font-size: 2.2rem;
}

/*
  ========================================
  Issue section styles
  ========================================
*/

.issue, .report, .additional-info {
  padding-left: 20px;
  padding-right: 20px;
}

/*
  ========================================
  Political Prison Camp section styles
  ========================================
*/

.camp-name {
  background-color: #252323;
  color: #F5F1ED;
  font-weight: bold;
  height: 63.5px;
  padding: 20px 5px;
}
.camp-name:hover {
  cursor: pointer;
}
.active-button {
  background-color: #F5F1ED !important;
  color: #252323;
}
.waves-effect {
  display: block;
}
.map-container {
  padding: 0 !important;
}
#map {
  border: 5px solid #252323;
  height: 300px;
  margin: 0 auto;
  width: 100%;
}
.map-dialog {
  background-color: #F5F1ED;
  border: 1px solid #252323;
  font-size: 22px;
  height: 70%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 15%;
  width: 75%;
}
.facts, .testimonials, .satellite-photo {
  display: none;
  height: 540px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.facts h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.facts p, .facts ul {
  margin-top: 5px;
}
.facts ul li, .report ul li {
  list-style: disc;
  margin-bottom: 5px;
  margin-left: 25px;
}
.satellite {
  margin-left: 15px;
  width: 90%;
}
.satellite-photo p {
  margin-bottom: 5px;
}

/*
  ========================================
  Report section styles
  ========================================
*/

.report img {
  width: 320px;
}
figure {
  float: right;
  font-size: 16px;
  margin: 10px;
}

/*
  ========================================
  Additional info section styles
  ========================================
*/

.additional-info {
  padding-bottom: 20px;
}
.additional-info img {
  height: 300px;
}
.video-container {
  margin-bottom: 30px;
}
iframe {
  border: 0;
}
.book {
  padding: 15px !important;
}
.book-img {
  float: left;
  margin: 10px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}
.author {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
.book a {
  font-size: 13px;
}

/*
  ========================================
  Footer styles
  ========================================
*/

.page-footer li {
  margin-bottom: 5px;
}

/*
  ========================================
  Custom color pallette styles
  ========================================
*/

.mine-shaft {
  background-color: #252323 !important;
}
.mine-shaft-text {
  color: #252323;
}
.hillary {
  background-color: #A99985;
}
.hillary-text {
  color: #A99985;
}
.dove-gray {
  background-color: #737373;
}
.dove-gray-text {
  color: #737373;
}
.tana {
  background-color: #DAD2BC;
}
.tana-text {
  color: #DAD2BC;
}
.spring-wood {
  background-color: #F5F1ED;
}
.spring-wood-text {
  color: #F5F1ED;
}
